

*{

    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;

}

  

body{

    min-height:100vh;
    transition: 0.5s;
    transition-timing-function: ease-in;
    background-color:yellow;
    display: flex;
    align-items: center;
    justify-content: center;

   

}



.container

{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    width: 600px;
    background-color:yellow-green;
    margin: 10px;

}


.fa-quote-left, .fa-quote-right {
    font-size: 35px;
    color:green;
}

.quote
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;

}

.author 

{
    margin:10px;
    text-align: right;
    font-size: 25px;
    font-style: italic;
    font-family: cursive;

}


.buttons {

    width: 100%;
    display: flex;
    justify-content: space-between;

}

hr {

    margin: 5px 0;
    width: 100%;
    border: 1px solid black;
}



.next

{

    font-size:18px;
    border-radius: 5px;
    cursor:pointer;
    padding: 7px;
    margin-top: 5px;
    font-weight: bold;
    color: white;
   }

